In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvpath = Path("../Resources/Texas_Pricing_Data.csv")

In [3]:
pricing_data_df = pd.read_csv(csvpath)

In [4]:
pricing_data_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio
0,202006,77414,"bay city, tx",202549.5,130,105.5,40,0,16,31,113.793981,1700.0,232176,161,0.2385
1,202006,77087,"houston, tx",205050.0,21,80.5,4,0,4,19,124.456393,1615.0,227396,40,0.9048
2,202006,77024,"houston, tx",1249550.0,396,73.5,108,0,92,77,302.330691,3815.0,1759357,473,0.1944
3,202006,77020,"houston, tx",292500.0,66,72.5,28,4,16,32,167.322558,1666.0,273267,98,0.4848
4,202006,77983,"seadrift, tx",255050.0,22,136.5,0,0,4,9,153.846154,1746.0,288390,31,0.4091

In [5]:
pricing_data_df.set_index(pd.to_datetime(pricing_data_df['month_date_yyyymm'], format='%Y%m', infer_datetime_format=True), inplace=True)
pricing_data_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio
month_date_yyyymm,,,,,,,,,,,,,,,
2020-06-01,202006,77414,"bay city, tx",202549.5,130,105.5,40,0,16,31,113.793981,1700.0,232176,161,0.2385
2020-06-01,202006,77087,"houston, tx",205050.0,21,80.5,4,0,4,19,124.456393,1615.0,227396,40,0.9048
2020-06-01,202006,77024,"houston, tx",1249550.0,396,73.5,108,0,92,77,302.330691,3815.0,1759357,473,0.1944
2020-06-01,202006,77020,"houston, tx",292500.0,66,72.5,28,4,16,32,167.322558,1666.0,273267,98,0.4848
2020-06-01,202006,77983,"seadrift, tx",255050.0,22,136.5,0,0,4,9,153.846154,1746.0,288390,31,0.4091

In [65]:
pricing_data_df.index.rename('date', inplace=True)
pricing_data_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio,pct_price_change,pct_price_sqft_change,pct_change_column_name
date,,,,,,,,,,,,,,,,,,
2016-07-01,201607,77002,"houston, tx",312050.0,52,88.0,12,0,8,15,253.271422,1266.0,499723,67,0.2885,NaN,0,NaN
2016-08-01,201608,77002,"houston, tx",349050.0,54,89.5,12,0,12,20,250.615461,1365.5,505122,74,0.3704,0.118571,0,NaN
2016-09-01,201609,77002,"houston, tx",339050.0,57,76.5,12,0,8,12,248.215391,1375.5,476139,69,0.2105,-0.028649,0,NaN
2016-10-01,201610,77002,"houston, tx",326050.0,55,80.0,8,0,4,8,241.769547,1338.0,439559,63,0.1455,-0.038342,0,NaN
2016-11-01,201611,77002,"houston, tx",329050.0,53,83.0,16,0,4,8,245.061046,1276.5,425851,61,0.1509,0.009201,0,NaN

In [ ]:
pricing_data_df.index.rename('date', inplace=True)
pricing_data_df.head()

In [7]:
pricing_data_df.sort_values(by=['postal_code','date'], inplace=True)
pricing_data_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio
date,,,,,,,,,,,,,,,
2016-07-01,201607,77002,"houston, tx",312050.0,52,88.0,12,0,8,15,253.271422,1266.0,499723,67,0.2885
2016-08-01,201608,77002,"houston, tx",349050.0,54,89.5,12,0,12,20,250.615461,1365.5,505122,74,0.3704
2016-09-01,201609,77002,"houston, tx",339050.0,57,76.5,12,0,8,12,248.215391,1375.5,476139,69,0.2105
2016-10-01,201610,77002,"houston, tx",326050.0,55,80.0,8,0,4,8,241.769547,1338.0,439559,63,0.1455
2016-11-01,201611,77002,"houston, tx",329050.0,53,83.0,16,0,4,8,245.061046,1276.5,425851,61,0.1509

In [8]:
pricing_data_df['pct_price_change'] = 0

In [62]:
pricing_data_df['pct_price_sqft_change'] = 0

In [9]:
pricing_data_df['pct_price_sqft_change'] = pricing_data_df['median_listing_price_per_square_feet'].pct_change()
pricing_data_df

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio,pct_price_change,pct_price_sqft_change
date,,,,,,,,,,,,,,,,,
2016-07-01,201607,77002,"houston, tx",312050.0,52,88.0,12,0,8,15,253.271422,1266.0,499723,67,0.2885,0,NaN
2016-08-01,201608,77002,"houston, tx",349050.0,54,89.5,12,0,12,20,250.615461,1365.5,505122,74,0.3704,0,-0.010487
2016-09-01,201609,77002,"houston, tx",339050.0,57,76.5,12,0,8,12,248.215391,1375.5,476139,69,0.2105,0,-0.009577
2016-10-01,201610,77002,"houston, tx",326050.0,55,80.0,8,0,4,8,241.769547,1338.0,439559,63,0.1455,0,-0.025969
2016-11-01,201611,77002,"houston, tx",329050.0,53,83.0,16,0,4,8,245.061046,1276.5,425851,61,0.1509,0,0.013614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-01,202002,77995,"yoakum, tx",209850.0,29,133.0,8,0,4,9,100.147275,2103.0,342624,38,0.3103,0,0.033128
2020-03-01,202003,77995,"yoakum, tx",202400.0,29,142.0,0,0,0,11,91.252346,2050.0,326075,40,0.3793,0,-0.088818
2020-04-01,202004,77995,"yoakum, tx",194500.0,31,105.0,8,0,0,4,99.498926,1917.0,295784,35,0.1290,0,0.090371
2020-05-01,202005,77995,"yoakum, tx",198550.0,31,120.0,4,0,8,8,100.147275,2103.0,328709,39,0.2581,0,0.006516
2020-06-01,202006,77995,"yoakum, tx",219550.0,27,99.5,4,0,0,12,98.611774,2103.5,359262,39,0.4444,0,-0.015332

In [10]:
pricing_data_df.index.rename('date', inplace=True)
pricing_data_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio,pct_price_change,pct_price_sqft_change
date,,,,,,,,,,,,,,,,,
2016-07-01,201607,77002,"houston, tx",312050.0,52,88.0,12,0,8,15,253.271422,1266.0,499723,67,0.2885,0,NaN
2016-08-01,201608,77002,"houston, tx",349050.0,54,89.5,12,0,12,20,250.615461,1365.5,505122,74,0.3704,0,-0.010487
2016-09-01,201609,77002,"houston, tx",339050.0,57,76.5,12,0,8,12,248.215391,1375.5,476139,69,0.2105,0,-0.009577
2016-10-01,201610,77002,"houston, tx",326050.0,55,80.0,8,0,4,8,241.769547,1338.0,439559,63,0.1455,0,-0.025969
2016-11-01,201611,77002,"houston, tx",329050.0,53,83.0,16,0,4,8,245.061046,1276.5,425851,61,0.1509,0,0.013614

In [87]:
median_list_sqft_df = pd.pivot_table(pricing_data_df, index='date', columns = 'postal_code', values = 'median_listing_price_per_square_feet')

In [86]:
median_list_sqft_df_pct_change = median_list_sqft_df.pct_change()
median_list_sqft_df_pct_change.head()

postal_code,77002,77003,77004,77005,77006,77007,77008,77009,77011,77012,...,77962,77963,77964,77968,77975,77979,77982,77983,77984,77995
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-01,-0.010487,0.000632,-0.020456,-0.024619,0.020962,-0.000356,0.005425,0.020145,0.038462,NaN,...,NaN,-0.237935,-0.198275,NaN,NaN,0.150630,0.062014,0.000000,NaN,-0.076036
2016-09-01,-0.009577,-0.008834,-0.016567,0.019856,-0.073172,-0.000154,-0.005395,0.002526,0.025520,NaN,...,NaN,-0.167035,-0.011620,NaN,NaN,0.033614,-0.043138,0.000000,NaN,0.082293
2016-10-01,-0.025969,-0.026389,-0.001245,0.008626,0.007592,0.006340,-0.006488,-0.015170,-0.071668,NaN,...,NaN,-0.047624,0.021581,NaN,NaN,0.013753,-0.027548,0.010161,NaN,-0.062003
2016-11-01,0.013614,0.051141,0.009703,-0.007625,0.013765,0.004716,0.013427,-0.023271,-0.048484,NaN,...,NaN,0.069498,0.096479,-0.043229,NaN,-0.011684,0.000000,0.000000,NaN,-0.007656

In [82]:
active_listings_df = pd.pivot_table(pricing_data_df, index='date', columns = 'postal_code', values = 'active_listing_count')
active_listings_df.head()

postal_code,77002,77003,77004,77005,77006,77007,77008,77009,77011,77012,...,77962,77963,77964,77968,77975,77979,77982,77983,77984,77995
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01,52.0,98.0,264.0,162.0,184.0,573.0,500.0,266.0,17.0,NaN,...,NaN,13.0,27.0,NaN,NaN,97.0,67.0,32.0,NaN,28.0
2016-08-01,54.0,99.0,255.0,155.0,190.0,571.0,476.0,257.0,13.0,NaN,...,NaN,16.0,17.0,NaN,NaN,90.0,63.0,33.0,NaN,30.0
2016-09-01,57.0,98.0,253.0,148.0,193.0,544.0,450.0,253.0,17.0,NaN,...,NaN,15.0,20.0,NaN,NaN,91.0,65.0,37.0,NaN,30.0
2016-10-01,55.0,98.0,259.0,139.0,199.0,544.0,450.0,259.0,20.0,NaN,...,NaN,17.0,24.0,13.0,NaN,90.0,80.0,39.0,NaN,32.0
2016-11-01,53.0,116.0,265.0,134.0,201.0,532.0,419.0,244.0,21.0,NaN,...,NaN,16.0,20.0,16.0,NaN,98.0,80.0,40.0,NaN,34.0

In [83]:
new_listing_df = pd.pivot_table(pricing_data_df, index='date', columns = 'postal_code', values = 'new_listing_count')
new_listing_df.head()

postal_code,77002,77003,77004,77005,77006,77007,77008,77009,77011,77012,...,77962,77963,77964,77968,77975,77979,77982,77983,77984,77995
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01,12.0,40.0,68.0,56.0,60.0,200.0,128.0,80.0,8.0,NaN,...,NaN,0.0,4.0,NaN,NaN,12.0,4.0,8.0,NaN,4.0
2016-08-01,12.0,40.0,72.0,40.0,48.0,156.0,128.0,68.0,0.0,NaN,...,NaN,4.0,0.0,NaN,NaN,20.0,12.0,4.0,NaN,4.0
2016-09-01,12.0,40.0,64.0,52.0,68.0,144.0,120.0,72.0,4.0,NaN,...,NaN,0.0,8.0,NaN,NaN,24.0,4.0,4.0,NaN,4.0
2016-10-01,8.0,32.0,56.0,48.0,60.0,156.0,156.0,80.0,4.0,NaN,...,NaN,0.0,8.0,8.0,NaN,12.0,4.0,0.0,NaN,4.0
2016-11-01,16.0,48.0,64.0,24.0,68.0,156.0,96.0,68.0,4.0,NaN,...,NaN,0.0,0.0,0.0,NaN,16.0,8.0,0.0,NaN,8.0

In [84]:
average_listing_price_df = pd.pivot_table(pricing_data_df, index='date', columns = 'postal_code', values = 'average_listing_price')
average_listing_price_df.head()

postal_code,77002,77003,77004,77005,77006,77007,77008,77009,77011,77012,...,77962,77963,77964,77968,77975,77979,77982,77983,77984,77995
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01,499723.0,341451.0,441233.0,1510365.0,774774.0,580182.0,575998.0,472284.0,185419.0,NaN,...,NaN,393036.0,394186.0,NaN,NaN,353403.0,381037.0,134068.0,NaN,241024.0
2016-08-01,505122.0,334126.0,431404.0,1503900.0,749081.0,572637.0,572436.0,478573.0,172442.0,NaN,...,NaN,309691.0,188174.0,NaN,NaN,320148.0,406126.0,136147.0,NaN,217864.0
2016-09-01,476139.0,340273.0,425008.0,1472984.0,767804.0,573682.0,563035.0,475897.0,179725.0,NaN,...,NaN,284766.0,174453.0,NaN,NaN,309580.0,379249.0,140606.0,NaN,232794.0
2016-10-01,439559.0,342834.0,417510.0,1481270.0,781719.0,568499.0,550352.0,464904.0,177378.0,NaN,...,NaN,253020.0,261211.0,337062.0,NaN,310148.0,353490.0,145223.0,NaN,231415.0
2016-11-01,425851.0,359987.0,425358.0,1504154.0,776021.0,571030.0,553777.0,460867.0,209495.0,NaN,...,NaN,240307.0,283003.0,362755.0,NaN,309276.0,352519.0,145269.0,NaN,301838.0

In [85]:
pending_ratio_df = pd.pivot_table(pricing_data_df, index='date', columns = 'postal_code', values = 'pending_ratio')
pending_ratio_df.head()

postal_code,77002,77003,77004,77005,77006,77007,77008,77009,77011,77012,...,77962,77963,77964,77968,77975,77979,77982,77983,77984,77995
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01,0.2885,0.5102,0.3712,0.3827,0.3478,0.3176,0.3460,0.3308,0.2941,NaN,...,NaN,0.4615,0.1111,NaN,NaN,0.0825,0.0000,0.0000,NaN,0.1429
2016-08-01,0.3704,0.4646,0.4118,0.3419,0.3368,0.3240,0.3718,0.3191,0.7692,NaN,...,NaN,0.1250,0.0588,NaN,NaN,0.1111,0.0159,0.0303,NaN,0.1000
2016-09-01,0.2105,0.4490,0.3755,0.3514,0.2953,0.3180,0.3600,0.3083,0.2353,NaN,...,NaN,0.2000,0.0500,NaN,NaN,0.0989,0.0462,0.0270,NaN,0.0667
2016-10-01,0.1455,0.4082,0.3320,0.3885,0.2663,0.2776,0.3422,0.3282,0.1500,NaN,...,NaN,0.1176,0.1250,0.0,NaN,0.1000,0.0125,0.0256,NaN,0.0625
2016-11-01,0.1509,0.4310,0.3509,0.3731,0.2289,0.2669,0.4248,0.3402,0.1429,NaN,...,NaN,0.0625,0.2500,0.0,NaN,0.0612,0.0125,0.0250,NaN,0.0882

dtype('int64')

date
2016-07-01    201607
2016-08-01    201608
2016-09-01    201609
2016-10-01    201610
2016-11-01    201611
               ...
2020-02-01    202002
2020-03-01    202003
2020-04-01    202004
2020-05-01    202005
2020-06-01    202006
Name: month_date_yyyymm, Length: 12503, dtype: int64

TypeError: string indices must be integers

In [53]:
for row in pricing_data_df:
    if row[0] == 201607:
        row.loc['pct_price_change'] = 0
pricing_data_df.head(50)

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio,pct_price_change,pct_price_sqft_change
date,,,,,,,,,,,,,,,,,
2016-07-01,201607,77002,"houston, tx",312050.0000,52,88.0,12,0,8,15,253.271422,1266.000000,499723,67,0.2885,NaN,NaN
2016-08-01,201608,77002,"houston, tx",349050.0000,54,89.5,12,0,12,20,250.615461,1365.500000,505122,74,0.3704,0.118571,-0.010487
2016-09-01,201609,77002,"houston, tx",339050.0000,57,76.5,12,0,8,12,248.215391,1375.500000,476139,69,0.2105,-0.028649,-0.009577
2016-10-01,201610,77002,"houston, tx",326050.0000,55,80.0,8,0,4,8,241.769547,1338.000000,439559,63,0.1455,-0.038342,-0.025969
2016-11-01,201611,77002,"houston, tx",329050.0000,53,83.0,16,0,4,8,245.061046,1276.500000,425851,61,0.1509,0.009201,0.013614
2016-12-01,201612,77002,"houston, tx",385050.0000,55,56.0,8,0,4,8,278.662420,1178.000000,414624,63,0.1455,0.170187,0.137114
2017-01-01,201701,77002,"houston, tx",335050.0000,54,65.5,16,0,0,5,248.682206,1178.000000,413435,59,0.0926,-0.129853,-0.107586
2017-02-01,201702,77002,"houston, tx",320050.0000,47,83.5,12,0,8,10,238.113853,1296.500000,389721,57,0.2128,-0.044769,-0.042497
2017-03-01,201703,77002,"houston, tx",335050.0000,56,63.0,16,0,4,11,244.979309,1296.500000,424555,67,0.1964,0.046868,0.028833
2017-04-01,201704,77002,"houston, tx",329950.0000,60,53.0,16,0,12,19,238.486842,1343.000000,417993,79,0.3167,-0.015222,-0.026502
2017-05-01,201705,77002,"houston, tx",315050.0000,56,72.5,16,0,8,21,239.049145,1341.000000,400461,77,0.3750,-0.045158,0.002358
2017-06-01,201706,77002,"houston, tx",320800.0000,58,85.5,4,0,8,20,234.567230,1353.000000,396181,78,0.3448,0.018251,-0.018749
2017-07-01,201707,77002,"houston, tx",299050.0000,65,74.0,16,0,16,17,230.664858,1343.000000,403360,82,0.2615,-0.067799,-0.016636
2017-08-01,201708,77002,"houston, tx",297050.0000,71,80.0,8,0,12,15,238.407139,1223.500000,405767,86,0.2113,-0.006688,0.033565
2017-09-01,201709,77002,"houston, tx",295050.0000,65,91.0,8,0,12,15,241.354467,1208.000000,411313,80,0.2308,-0.006733,0.012363
2017-10-01,201710,77002,"houston, tx",299050.0000,65,101.5,8,0,16,15,236.953456,1265.500000,407902,80,0.2308,0.013557,-0.018235
2017-11-01,201711,77002,"houston, tx",344050.0000,59,120.5,8,0,8,15,245.102097,1359.500000,453163,74,0.2542,0.150477,0.034389
2017-12-01,201712,77002,"houston, tx",375050.0000,56,107.0,4,0,8,17,245.584989,1378.000000,484101,73,0.3036,0.090103,0.001970
2018-01-01,201801,77002,"houston, tx",357050.0000,56,86.5,20,0,8,16,245.339299,1353.000000,453127,72,0.2857,-0.047994,-0.001000
2018-02-01,201802,77002,"houston, tx",338800.0000,55,59.0,12,0,12,22,245.339299,1288.000000,452005,77,0.4000,-0.051113,0.000000
2018-03-01,201803,77002,"houston, tx",325050.0000,67,55.0,20,0,12,26,237.341772,1212.000000,401036,93,0.3881,-0.040584,-0.032598
2018-04-01,201804,77002,"houston, tx",325050.0000,69,69.5,16,0,16,26,240.794878,1229.500000,407843,95,0.3768,0.000000,0.014549
2018-05-01,201805,77002,"houston, tx",325050.0000,65,66.0,16,0,12,28,248.191592,1197.000000,400093,93,0.4308,0.000000,0.030718
2018-06-01,201806,77002,"houston, tx",324950.0000,67,72.0,12,0,12,29,236.344538,1258.000000,400288,96,0.4328,-0.000308,-0.047734
2018-07-01,201807,77002,"houston, tx",304950.0000,67,83.0,16,0,12,24,236.005116,1253.500000,392266,91,0.3582,-0.061548,-0.001436
2018-08-01,201808,77002,"houston, tx",302450.0000,60,87.5,16,0,16,29,234.534895,1326.000000,398090,89,0.4833,-0.008198,-0.006230
2018-09-01,201809,77002,"houston, tx",295050.0000,67,58.0,24,0,12,27,235.978112,1235.000000,390529,94,0.4030,-0.024467,0.006154
2018-10-01,201810,77002,"houston, tx",313050.0000,67,52.0,16,0,24,30,234.786956,1271.500000,407932,97,0.4478,0.061007,-0.005048
2018-11-01,201811,77002,"houston, tx",329950.0000,65,70.0,8,0,8,19,232.742807,1367.000000,424721,84,0.2923,0.053985,-0.008706
2018-12-01,201812,77002,"houston, tx",324950.0000,66,83.0,8,0,12,14,232.609659,1311.000000,413887,80,0.2121,-0.015154,-0.000572
2019-01-01,201901,77002,"houston, tx",329950.0000,54,85.0,20,0,4,12,238.986784,1393.000000,427691,66,0.2222,0.015387,0.027416
2019-02-01,201902,77002,"houston, tx",309549.5000,54,89.5,12,0,20,15,239.493392,1332.500000,401085,69,0.2778,-0.061829,0.002120
2019-03-01,201903,77002,"houston, tx",317192.2857,58,93.0,12,0,12,13,241.024882,1272.000000,392295,71,0.2241,0.024690,0.006395
2019-04-01,201904,77002,"houston, tx",337192.7857,62,75.0,16,0,16,15,242.489477,1290.000000,396236,77,0.2419,0.063055,0.006077
2019-05-01,201905,77002,"houston, tx",304550.0000,64,66.0,16,0,12,17,237.648956,1219.500000,379307,81,0.2656,-0.096807,-0.019962
2019-06-01,201906,77002,"houston, tx",320050.0000,60,68.0,16,0,12,13,231.980116,1272.000000,390982,73,0.2167,0.050895,-0.023854
2019-07-01,201907,77002,"houston, tx",320050.0000,61,76.5,16,0,8,11,239.094070,1217.000000,380248,72,0.1803,0.000000,0.030666
2019-08-01,201908,77002,"houston, tx",332478.5714,64,84.0,20,0,0,10,252.300062,1177.571429,384385,74,0.1563,0.038833,0.055233
2019-09-01,201909,77002,"houston, tx",339978.5714,64,78.5,20,0,8,10,262.666522,1142.071429,393425,74,0.1563,0.022558,0.041088
2019-10-01,201910,77002,"houston, tx",335050.0000,63,76.5,16,0,8,8,267.593193,1100.000000,404371,71,0.1270,-0.014497,0.018756
2019-11-01,201911,77002,"houston, tx",349050.0000,65,74.0,8,0,16,3,253.991292,1169.000000,413168,68,0.0462,0.041785,-0.050831
2019-12-01,201912,77002,"houston, tx",344550.0000,58,84.0,8,0,4,8,244.453011,1169.000000,411033,66,0.1379,-0.012892,-0.037554
2020-01-01,202001,77002,"houston, tx",335050.0000,57,99.5,8,0,16,7,241.703689,1169.000000,398175,64,0.1228,-0.027572,-0.011247
2020-02-01,202002,77002,"houston, tx",339050.0000,54,97.0,16,0,12,13,245.114461,1170.000000,400757,67,0.2407,0.011939,0.014111
2020-03-01,202003,77002,"houston, tx",325050.0000,55,99.0,16,0,12,9,238.425926,1175.000000,393281,64,0.1636,-0.041292,-0.027287
2020-04-01,202004,77002,"houston, tx",315050.0000,54,90.5,8,0,4,8,245.000000,1169.000000,386451,62,0.1481,-0.030764,0.027573
2020-05-01,202005,77002,"houston, tx",301950.0000,60,75.0,20,0,12,4,244.672455,1170.000000,396021,64,0.0667,-0.041581,-0.001337
2020-06-01,202006,77002,"houston, tx",297050.0000,61,67.0,16,0,16,10,244.666403,1161.000000,377494,71,0.1639,-0.016228,-0.000025
2016-07-01,201607,77003,"houston, tx",347550.0000,98,59.0,40,0,16,50,183.107833,1966.000000,341451,148,0.5102,0.170005,-0.251602
2016-08-01,201608,77003,"houston, tx",330000.0000,99,50.0,40,0,24,46,183.223494,1927.000000,334126,145,0.4646,-0.050496,0.000632